.successCheck {
	color: #159b4b;
}

.failedCross {
	color: #a50808;
}

md-toast.md-error-notification-theme div.md-toast-content{
	color: white !important;
	font-weight: bold;
	background-color: #a50808 !important;
}

md-toast.md-success-notification-theme div.md-toast-content{
	color: white !important;
	font-weight: bold;
	background-color: #159b4b !important;
}

.customTitle {
	color: #42c2f4; 
}